<!-- Modal -->
<div class="modal fade" id="edit-modal-pengeluaran" tabindex="-1" role="dialog" aria-labelledby="add-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add-modal">Tambah Data Pengeluaran</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/admin/pengeluaran?_method=PUT" method="POST">
        <div class="modal-body">
            <div class="form-group">
                <label for="jumlah_pengeluaran">Jumlah Pengeluaran <span class="text-danger">*</span></label>
                <input type="number" class="form-control jumlah_pengeluaran" name="jumlah_pengeluaran" id="jumlah_pengeluaran" placeholder="Masukkan Jumlah Pengeluaran ...">
            </div>
            <div class="form-group">
                <label for="tanggal">Tanggal <span class="text-danger">*</span></label>
                <input type="date" class="form-control tanggal" name="tanggal" id="tanggal">
            </div>
            <div class="form-group">
                <label for="keterangan">Keterangan <span class="text-danger">*</span></label>
                <textarea name="keterangan" class="form-control keterangan" id="keterangan" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <input type="hidden" class="id" name="id">
          <button type="submit" class="btn btn-primary">Ubah</button>
        </div>
        </form>
      </div>
    </div>
  </div>